#footer {
    /* background-color: green; */
    position: absolute;
    bottom: 52px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.footer-item:hover {    
    font-weight:bold; 
}

.footer-item {
    position: relative;
    bottom: 52px;
    padding: 12px;

}