#page {
    /* width: 100%; */
    min-height: calc(var(--vh, 1vh)*100);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    left: 26px;
    right: 26px;
    top: 26px;
    text-align: left;
    margin-left: 25px;
    

}

.is-dark {
    background-color: black !important;
    color: white !important;
}

.is-light {
    background-color: white !important;
    color: black !important;
    }