h1 {
    line-height: 115%;
    padding: 25px 0px 25px;
}


#title, #name {
    /* Perhaps this should be dynamic */
    /* position: relative; */
    margin-left: 25px;
    /* padding-left: 12px; */
    /* z-index: auto; */
}