.project-link {
    line-height: 150%;
    margin: 15px;
    
}

.project-link:hover {
    text-decoration: none;
    font-weight:bold;
       
}

#projects-menu-list {

    /* overflow: hidden; */
    position: relative;
    bottom: 700px;
   

    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    
    
}