/* Future Goal: 

Write a selection of CSS to create a radial animation of small white dots that rotate around your mouse cursor */

#special-effects {
	
    position: relative;
	background: cover;
    background-color: white;
  
    width: auto;
    height: 50vh;
    margin: 25px;
    z-index: -2;
    align-self: center;
    opacity: 0.7;

    /* mix-blend-mode: hard-light; */
    /* filter: hue-rotate(180deg); */
 
}

